<div class="container-fluid">

  <!-- page title -->
  <app-page-title [title]="formType" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- Standard Modal -->
  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Update Request</h5>
      <button
        type="button"
        class="btn-close"
        aria-hidden="true"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="saveCustomer()" [formGroup]="formData">
        <div class="row">
          <div
            *ngFor="let key of formData?.controls | keyvalue"
            class="col-md-6 mb-3"
          >

          <ng-container *ngIf="key.key!='status'">
            
         
            <label class="control-label">{{ key.key | titlecase }}</label>
    
            <ng-container [ngSwitch]="key.key">
              <ng-container *ngSwitchCase="'confidence'">
                <ng-select
                  [items]="stateValue"
                  [formControlName]="key.key"
                  [ngClass]="{
                    'is-invalid': submitted && formData.controls[key.key].errors
                  }"
                ></ng-select>
              </ng-container>
    
              <ng-container *ngSwitchDefault>
                <input
                  class="form-control"
                  [placeholder]="'Enter ' + key.key"
                  type="text"
                  autocomplete="off"
                  [formControlName]="key.key"
                  [ngClass]="{
                    'is-invalid': submitted && formData.controls[key.key].errors
                  }"
                />
              </ng-container>
            </ng-container>
    
            <div
              *ngIf="submitted && formData.controls[key.key].errors"
              class="invalid-feedback"
            >
              {{ key.key }} is required.
            </div>
          </ng-container>
          </div>
        </div>
    
        <button type="submit" class="btn btn-success mt-3" id="btn-save-event">
          Update
        </button>
      </form>
    </div>
    
    
  </ng-template>
  <div class="row">
    <div *ngFor="let data of filteredShopsData" class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <a (click)="openModal(content, data)">
              <i class="bx bx-menu-alt-right text-success fs-3"></i>
            </a>
          </div>
  
          <div class="row">
            <div *ngFor="let item of data | keyvalue" class="col-6">
              <div>
                <h5>{{ item.key |titlecase }}</h5>
                <p class="text-muted text-truncate">{{ item.value }}</p>
              </div>
            </div>
          </div>
  
          <div *ngIf="role == 'admin'" class="row mt-3">
            <div class="col-6">
              <h5>{{ data.key | titlecase }}</h5>
              <p class="text-muted text-truncate">{{ data.value }}</p>
            </div>
          </div>
  
          <div class="row mt-3 align-items-start">
            <div *ngIf="role === 'admin'" class="col-sm">
              <ng-select
                [(ngModel)]="data.status"
                [items]="status"
                (change)="changeFn($event)"
                name="status"
                class="mt-2"
              ></ng-select>
            </div>
  
            <div *ngIf="role === 'admin'" class="col-sm">
              <a (click)="updateStatus(data._id)">
                <i class="bx bx-check-circle text-success fs-3 mt-2" style="cursor: pointer;"></i>
              </a>
            </div>
  
            <div *ngIf="role !== 'admin'" class="col-sm mt-2">
              
              <div
              [ngClass]="
                data.status == 'refused'
                  ? 'alert alert-danger'
                  : data.status == 'Progress'
                  ? 'alert alert-warning'
                  : 'alert alert-success'
              "
              class="alert alert-primary"
              role="alert"
            >
              {{ data.status }}
            </div>
            </div>
  
            <div class="col-sm">
              <a (click)="deleteRecord(data._id)">
                <i class="bx bxs-trash-alt text-danger fs-3 mt-2" style="cursor: pointer;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Load More -->
    <div class="col-12 text-center my-3">
      <a href="javascript:void(0);" class="text-success">
        <i class="bx bx-loader bx-spin font-size-18 align-middle me-2"></i>
        Load more
      </a>
    </div>
  </div>
  
  <!-- container-fluid -->
</div>
